@charset "UTF-8";
/* CSS Document */
@import url("http://fonts.googleapis.com/css?family=Ubuntu");
body
{
	font-family: 'Ubuntu', sans-serif;
	margin:0px;
	background:rgba(248,249,231,0.50);
}
#head_div
{
	position:relative;
	z-index:999;
	height:80px;
}
#header
{
	background:rgba(248,83,30,1.00);
	color:#fff;
	text-outline:#222;
	text-shadow:2px 2px 10px #222,
				2px -2px #222,
				-2px 2px #222,
				-2px -2px #222;
	width:100%;  float:left;
	height:80px;
	text-align:center;
	text-decoration:none;
	position:fixed;
}
table
{
	background-color: transparent;
	border-collapse: collapse;
	color: #222;
	font-size: 16px;
	text-align:left;
}
td,th
{
	padding:15px ;
	border-color: black;
	border-bottom:thin solid black;
}
tr:hover
{
	background:rgba(180,180,180,0.50)
}