#lightbox
{
	position:fixed;
	z-index:99;
	top:0;
	right:0;
	bottom:0;
	left:0;
	text-align:center;
	background:rgba(0,0,0,0.7);
	display:none;
}
#emailallbox
{
	margin-top:15%;
	margin-left:40%;
	padding:40px 0px;
	width:350px;
	background:rgba(208, 137, 78, 1);
	border-radius:25px;
}